# ============================================================
#  .env — Blog MultiCloud  (NUNCA subir a GitHub)
#  Copia este archivo a .env y completa los valores reales
# ============================================================

# Django
DJANGO_SECRET_KEY=reemplaza-con-clave-generada
DJANGO_DEBUG=False
DJANGO_ALLOWED_HOSTS=localhost,127.0.0.1,TU_IP_EC2

# ── Base de datos OCI MySQL (túnel SSH) ──────────────────────
DB_NAME=DBapp
DB_USER=Admin
DB_PASSWORD=Deibi123.
DB_HOST=127.0.0.1
DB_PORT=3306

# ── Azure Blob Storage ───────────────────────────────────────
AZURE_ACCOUNT_NAME=tu_storage_account
AZURE_ACCOUNT_KEY=tu_access_key==
AZURE_CONTAINER=media

# ── Cómo activar el túnel SSH antes de arrancar ──────────────
# ssh -N -L 3306:10.0.1.212:3306 -p 22 -i ssh-key-2026-06-22.key \
#   ocid1.bastionsession.oc1.sa-santiago-1...@host.bastion.sa-santiago-1.oci.oraclecloud.com
